body {
padding: 0;
margin: 0;
}

#Principal {
font-family: sans-serif;
border: 4px solid #000;
width: 91%;
margin: 40px auto;
border-radius: 1em;
height: 100%;
box-sizing: border-box;
}

h1 {
text-align: center;
margin-top: 1em;
}

button {
padding: 5px;
cursor: pointer;
margin-left: 3px;

}

button:hover {
background-color: #e1dddd;
}

.btn-api{
border-radius: 3px;
font-size: 16px;
margin: 8px;
border-radius: 5px;

}

input {
width: 120px;
margin: 1px;
padding: 2px;

}

.container div {
width: 33%;
height: 300px;
border: 3px solid #000;
margin: 15px;
padding: 2em;
border-radius: 1em;
position: relative;
}

.container {
display: flex;
margin: 2em;
}

.teste-paragrafo {
text-align: center;
display: block;
margin: 20px;
padding-bottom: 15px;
font-size: 25px;
}

.lista-roupas{
color:blue;
list-style:none;

}

.testes-input::after {
content: '';
background-color: #4ebe7f;
}

.input-nome::after {
content: '';
background-color: #a08687;
}

.input-sistemas::after {
content: '';
background-color: #1ae30e;
}

.testes-input::after,.input-nome::after,.input-sistemas::after {
content: '';
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
opacity: 0.2;
z-index: -1;
border-radius: .8em;
}

.testes-input label {
display: block;
margin-top: 20px;
}

.testes-input input {
width: 60px;
}

.testes-input span {
margin-right: 16px;
}

.somar {
margin-left: 21px;
}

#input-get {
margin-top: 15px;
}

#idade,#pergunta {
width: 50px;
}

#pergunta {
margin-top: 30px;
margin-bottom: 18px;
}

.ptn-buton {
margin-left: 3px;
color: red;
}

#digito {
display: block;
margin-left: 5px;
}

.div-api{
margin-bottom: 3%;
}


.Api-p{
display: inline-block;
margin-left: 15px;
}

.api-li{
display: inline-block;
padding-left: 3px;
}

.footer {
width: 91%;
height: 3em;
border: 3px solid #000;
margin: auto;
padding: 10px;
border-radius: 1em;
font-size: 17px;
display: flex;
margin-top: 3%;
margin-bottom: 3%;
}

.footer-li{
width: 91%;
border: 3px solid #000;
margin: auto;
padding: 10px;
border-radius: 1em;
font-size: 17px;
display: flex;
margin-top: 3%;
margin-bottom: 3%;

}




.label-footer {
display: block;
margin-top: 13px;
}

